.App {
  font-family: sans-serif;
  text-align: center;
}


.modal-content {
  background-color: #1A202C;
  color: #fff;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}
